html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', serif;
  background: #F5F3EF;
}

section {
  width: 95%;
  margin: 0 auto;
}

.mobile-btn {
  display: none;
}

.mobile-menu-btn {
  display: none;
}

.nav-bar-mid, 
h1, h2, h3, footer {
  font-family: 'Roboto Serif', serif;
}

p {
  color: #646464;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
}

.nav-bar-left {
  display: flex;
  align-items: center;
  padding: 0;
  width: 30%;
  font-weight: 500;
}
.nav-bar-left li{
  list-style: none;
  display: inline-block;
  font-size: 15px;
  padding: 0 20px;
}

.nav-bar-left li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #FEBD2F;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.nav-bar-left li:hover::after {
  width: 100%;
}

.nav-bar-mid {
  padding: 0;
}

.nav-bar-mid li,
.nav-bar-right ul li{
  list-style: none;
}

.nav-bar-right {
  margin: 27px 0;
  width: 30%;
  text-align: right;
}

.nav-bar-container a {
  text-decoration: none;
  color: black;
}

#get-started-btn {
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 40px;
  transition: 0.2s;
}

#get-started-btn:hover {
  background-color: #FEBD2F;
  color: black;
}

header {
  display: flex;
  margin: 65px 0;
  gap:0 20px;
}

.banner-img {
  display: flex;
  width: 50%;
}

.banner-img img {
  width: 100%;
  align-self: center;
  border-radius: 40px;
}

.heading {
  width: 50%;
}

.heading h1 {
  font-weight: 500;
  font-size: 57px;
}

.heading p {
  font-weight: 400;
}

main {
  display: grid;
  gap: 60px 32px;
  grid-template-columns: repeat(3, 1fr);
}

.class-info,
.non-class-info{
  border-radius: 40px;
  height: 34vh;
  padding: 20px;
}

.non-class-info{
  background-color: #FEBD2F;
  font-weight: 500;
  font-size: 20px;
}

.class-info {
  background-color: white;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  box-shadow:0 2px 24px 0 rgb(220, 220, 220);
}

.class-info h3 {
  font-weight: 700;
}

.class-info p {
  font-weight: 400;
  font-size: 18px;
}

.class-info a {
  text-decoration: none;
  text-align: center;
  color: black;
  border: 1px solid black;
  width: 50%;
  padding: 12px 22px;
  border-radius: 40px;
  font-size: 1.1rem;
  background-color: white;
  transition: 0.3s;
}

.class-info a:hover {
  background-color: #FEBD2F;
  border: solid 1px #FEBD2F;
}

footer {
  text-align: center;
  background-color: #FEBD2F;
  padding: 5px 0px;
  margin: 36px 0 0;
  height: 7vh;
}

footer ul li{
  list-style: none;
}

footer a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 900px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  header {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .heading,
  .banner-img {
    width: 100%;
  }

  .heading h1 {
    font-size: 50px;
  }

  .heading p {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {

  .nav-bar-left {
    display: none;
  }

  .nav-bar-mid {
    width: 64%;
    margin-right: 0;
}

  .mobile-btn {
    display: block;
  }
  
  .mobile-menu-btn {
    display: inline-block;
  }

  .nav-bar-right{
    position: absolute;
    color: black;
    background: #FEBD2F;
    font-size: 20px;
    margin: 0;
    border-radius: 40px 0 0 40px;
    height: 100vh;
    width: 50%;
    top: -1000px;
    right: 0;
    text-align: left;
    z-index: 2;
  }

  .nav-bar-right ul li{
    margin: 30px 0;
  }

  .close-btn {
    margin: 10px;
    width: 35px;
    height: 35px;
  }

  .menu-btn {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 35px;
    height: 35px;
  }

  #get-started-btn {
    font-size: 15px;
    padding: 10px 12px;
  }

  header {
    margin: 10px 0 80px;
  }
  
  .heading h1 {
    font-size: 40px;
  }

  .non-class-info {
    height: 24vh;
}
  
  main {
    grid-template-columns: 1fr;
  }

  
}